.music{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music__div--minibuttoncontainer{
  width: 65vw;    
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  flex-wrap: wrap;
}
