.Minibutton__div{

  background-color: #417D7A;
  width: 230px;
  height: 250px;
  border-radius: 10%;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}
.Minibutton__div:hover{
  animation-name: changecolor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes changecolor{
  100%{
    background-color: #1D5C63 ;
    border: 1px solid #1D5C63;
    color: #EDE6DB;
    width: 260px;
    height: 260px;
  }
}
