body{
  background-color: aliceblue;
}
.icon{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.minibuttoncontainers{
  width: 85vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
