body{
  background-color: #2c323b;
  color: aliceblue;
  font-family: monospace;
}
.icon{
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.minibuttoncontainers{
  width: 85vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
