.about__div--title{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 50px;
}
.about__h1--title::before{
 content: "Hola, soy Adrian 💡";
 font-size: larger;
 animation-name:nombre ;
 animation-duration: 6s;
 animation-iteration-count: infinite;
 font-size: 50px;
}
.about__div--pcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
}
.about__p--intro{
    width: 65vw;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
@keyframes nombre {
    25%{
        content: "Hola, soy Programador 💻";
    }
    50%{
        content: "Hola, soy Estudiante 🎒";
    }
    75%{
        content: "Hola, soy Musico 🎸";
    }
    100%{
        content: "Hola, soy Adrian 💡"; 
    }
}
